<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACCESS_TOKEN</key>
	<string>Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI4NDI3YmQwZDFjOGRmOGM4MTcxNmJlNTE5Yjg1NjNhNiIsIm5iZiI6MTc1MjU1MzcxOC40OTIsInN1YiI6IjY4NzVkOGY2NTAwMDBhZmI0OGQxNWZiZCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.JFYjuO57eOIw4mNjUuuUAQa_R0I3GYSwKrMBukP5sgQ</string>
	<key>API_KEY</key>
	<string>Bearer 8427bd0d1c8df8c81716be519b8563a6</string>
</dict>
</plist>
